In [1]:
import numpy as np
import pandas as pd
import nltk
import spacy
from tqdm import tqdm
import os
import re
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df1 = pd.read_excel(r'/Users/varun/Desktop/ST/Accuracy.xlsx', sheetname='Sheet1')

/Users/varun/anaconda3/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [3]:
df1[0:10]

,Defect Type_1,Defect Item_1,Defect Type,Defect Item
0,NaN,NaN,FAIL,BATTERY
1,NaN,NaN,NaN,NaN
2,WORN,TIRE,WORN,TIRE
3,ILLUMINATED PERMANENTLY,INDICATOR,ILLUMINATED PERMANENTLY,INDICATOR
4,NaN,NaN,NaN,NaN
5,MESSAGE ALWAYS POSTED,ICE DETECTOR MESSAGE,MESSAGE ALWAYS POSTED,ICE DETECTOR MESSAGE
6,NaN,NaN,NaN,NaN
7,UNSERVICEABLE,ESPRESSO MAUER,UNSERVICEABLE,ESPRESSO MAUER
8,NaN,NaN,BUILT UP,WHEEL ASSEMBLY
9,NaN,NaN,NaN,NaN

In [4]:
df1['Defect Type']=df1['Defect Type'].astype(str)
df1['Defect Item']=df1['Defect Item'].astype(str)
df1['Defect Type_1']=df1['Defect Type_1'].astype(str)
df1['Defect Item_1']=df1['Defect Item_1'].astype(str)

In [5]:
df1[0:10]

,Defect Type_1,Defect Item_1,Defect Type,Defect Item
0,nan,nan,FAIL,BATTERY
1,nan,nan,nan,nan
2,WORN,TIRE,WORN,TIRE
3,ILLUMINATED PERMANENTLY,INDICATOR,ILLUMINATED PERMANENTLY,INDICATOR
4,nan,nan,nan,nan
5,MESSAGE ALWAYS POSTED,ICE DETECTOR MESSAGE,MESSAGE ALWAYS POSTED,ICE DETECTOR MESSAGE
6,nan,nan,nan,nan
7,UNSERVICEABLE,ESPRESSO MAUER,UNSERVICEABLE,ESPRESSO MAUER
8,nan,nan,BUILT UP,WHEEL ASSEMBLY
9,nan,nan,nan,nan

In [7]:
df1.columns

Index(['Defect Type_1', 'Defect Item_1', 'Defect Type', 'Defect Item'], dtype='object')

In [8]:
result = []
count = 0
for i in range(len(df1["Defect Type"])):
    if df1["Defect Type"][i] == df1["Defect Type_1"][i]:
        count = count + 1
        result.append("Match")
    else:
        result.append("No Match")
df1["Result"] = result

In [9]:
df1[0:5]

,Defect Type_1,Defect Item_1,Defect Type,Defect Item,Result
0,nan,nan,FAIL,BATTERY,No Match
1,nan,nan,nan,nan,Match
2,WORN,TIRE,WORN,TIRE,Match
3,ILLUMINATED PERMANENTLY,INDICATOR,ILLUMINATED PERMANENTLY,INDICATOR,Match
4,nan,nan,nan,nan,Match

In [10]:
acc = count/len(df1)

In [11]:
acc

0.7605985037406484